

.checkbox {
    color: #cfcccb;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.search {
    margin-left: 5px;
    margin-right: 5px
}

.uploadcontainer{
	background-color: ghostwhite;
	padding: 20px;
}

.tablecontainer{
	padding-left: 20px;
}

.dropdown-menu {
    min-width: 383px;
}
.generic-container {

  width:70%;
    margin-left:auto;
    margin-right:auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}

/* layout.css Style */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}